html{
    display: block;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
body{
    width: 100%;
    background-color: #eaeaea;
    background-image: url("../assets/img/bg/ignasi_pattern_s.png");/* Background pattern from subtlepatterns.com */
    background-repeat: repeat;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color:#7070A0;
}
footer{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.footerleft{
    padding: inherit;
    text-align: left;
    width: 50%;
}
.footeright{
    padding: inherit;
    text-align: right;
    width: 20%;

}
.year{
    font-size: 10px;
    vertical-align: text-top; /* superscript text via css instead of html <sup> */
}